<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF 8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Will you survive the Titanic?</title>
    <style>
        #expimg {
            margin: 30px;
        }
        
        form {
            margin: auto;
            width: 35%;
        }
        
        .result {
            margin: auto;
            width: 35%;
            border: 1px solid #ccc;
        }
    </style>

</head>

<body>

    <!-- -------------BEGIN NAV BAR --------------------- -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id="badge" href="#">Will you survive the Titanic?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right ml-auto">


                <li class="nav-item">
                    <a class="nav-link" href="methodology.html">Methodology <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>


            </ul>

        </div>
    </nav>
    <!-- -------------END NAV BAR --------------------- -->




    <div class="page-container">
        <form action="/" method="POST">
            <fieldset class="fieldset">
                <div class="row uniform">

                    <legend>Enter Passenger Details:</legend>

                    <div class="col-sm-12">
                        <div class="select-wrapper">
                            <label for="Pclass">Choose your Passenger Class from the list:</label>
                            <select name='Pclass' id="Pclass">
                            <option value="1">First Class</option>
                            <option value="2">Second Class</option>
                            <option value="3">Third Class</option>
                        </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="select-wrapper">
                            <label for="Sex">Choose your sex from the list:</label>
                            <select name='Sex' id="Sex">
                            <option value="1">Female</option>
                            <option value="0">Male</option>
                        </select>
                        </div>
                    </div>


                    <div class="col-sm-2">
                        <label>Age:</label><br>
                        <input type="number" name="Age" id="name" value="" min="0" max="123" placeholder="Age" oninput="validity.valid||(value='');" required class="submit-button">
                    </div>

                    <div class="col-sm-4">
                        <label>Siblings/Spouses:</label><br>
                        <input name="SibSp" type="number" min="0" max="10" oninput="validity.valid||(value='');" value placeholder="#" required class="submit-button">
                    </div>

                    <div class="col-sm-4">
                        <label>Parents/Children:</label><br>
                        <input name="Parch" type="number" min="0" max="10" oninput="validity.valid||(value='');" value placeholder="#" required class="submit-button">
                    </div>

                    <div class="col-sm-2">

                        <label>Fare:</label><br>
                        <input name="Fare" type="number" min="0" max="515" oninput="validity.valid||(value='');" value placeholder="&pound" required class="submit-button">
                    </div>



                    <div class="col-sm-12">
                        <div class="select-wrapper">
                            <label for="embarked">From which city will you board?:</label>
                            <select name="Embarked" id="Embarked">
                            <option value="1">Cherbourg</option>
                            <option value="2">Queenstown</option>
                            <option value="3">Southampton</option>
                        </select>
                        </div>
                    </div>

                    <div class="col-sm-12"> 
                    <input class="button special" type="submit" value="Submit">

                    </div>
                </div>
            </fieldset>
        </form>


        <div class="result" align="center">

            <br>

            <p style="font-size:50px">{{ result }}</p>

        </div>
<br><br><br><br>
    </div>

</html>