<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF 8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Will you survive the Titanic?</title>


</head>



<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top">back to top</button>

    <!-- -------------BEGIN NAV BAR --------------------- -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id="badge" href="index.html">Titanic ML Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right ml-auto">


                <li class="nav-item">
                    <a class="nav-link" href="#">Methodology <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>


            </ul>

        </div>
    </nav>
    <!-- -------------END NAV BAR --------------------- -->

    <!-- -------------BEGIN HEADER------------- -->
    <div class="page-container ">
        <section id="main" class="wrapper">
            <div class="inner">

                <header class="align-center">
                    <h2>Methodology</h2>
                    <p><a href="#proj">the project</a> | <a href="#ppd">pre-processing data</a> | <a href="#pmodel">prediction model</a> | <a href="#ref">reference & resources</a> </p>
                </header>
                <h2 id="content theproject"><a id="proj">The Project</a></h2>
                <p>RMS Titanic was a British passenger liner operated by the White Star Line that sank in the North Atlantic Ocean in the early morning hours of 15 April 1912 after striking an iceberg during her maiden voyage from Southampton to New York
                    City. Of the estimated 2,224 passengers and crew aboard, more than 1,500 died. By examining attributes in our dataset such as class, sex, and age, we will experiment with different machine learning algorithms and build a program that
                    can predict whether a given passenger would have survived this disaster. To get a sense of the variables, their class type, and the first few observations of each. We know we’re working with 1,309 observations of 14 variables. To make
                    things a bit more explicit (since a couple of the variable names aren’t 100% illuminating), here’s what we’ve got to deal with:</p>
                <br>

                <div class="row">
                    <div class="3u 12u$(small)"></div>
                    <div class="6u 12u$(small)">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Variable Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Passenger ID</td>
                                        <td>Dataset's Unique Record ID</td>
                                    </tr>
                                    <tr>
                                        <td>Survived</td>
                                        <td>Target Prediction Variable<br> 1: Survived; 2: Did Not Survive</td>
                                    </tr>
                                    <tr>
                                        <td>Embarked</td>
                                        <td>Categorical Feature: Point of Embarkation<br> Cherbourg (C), Queenstown (Q), Southampton (S)</td>
                                    </tr>
                                    <tr>
                                        <td>Pclass</td>
                                        <td>Categorical Feature: Used to infer socio-economic status<br> Upper (1), Middle (2), Lower (3)</td>
                                    </tr>

                                    <tr>
                                        <td>Name</td>
                                        <td>Passenger's name</td>
                                    </tr>
                                    <tr>
                                        <td>Sex</td>
                                        <td>Passenger's sex</td>
                                    </tr>
                                    <tr>
                                        <td>Age</td>
                                        <td>Passenger's age</td>
                                    </tr>
                                    <tr>
                                        <td>SibSp</td>
                                        <td>Number of siblings & spouses aboard</td>
                                    </tr>
                                    <tr>
                                        <td>Parch</td>
                                        <td>Number of parents & children aboard</td>
                                    </tr>
                                    <tr>
                                        <td>Ticket</td>
                                        <td>Passenger's unique ticket number</td>
                                    </tr>
                                    <tr>
                                        <td>Cabin</td>
                                        <td>Passenger's cabin number</td>
                                    </tr>
                                    <tr>
                                        <td>Fare</td>
                                        <td>Passenger Fare</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="3u 12u$(small)"></div>

                </div>

                <!-- Break -->
                <hr class="major " />

                <h2 id="elements ppd"><a id="ppd">Pre-Processing Data</a></h2>

                <div class="row ">

                    <div class="6u 12u$(small) flex flex-3 metho-div ">
                        <h3>Dataset Overview and Missing Values</h3>
                        <p>The chart gives us a sense of the variables and informs us of the missing observations in each column. We see that Age, Cabin, Fare and Embarked columns have missing values which we will impute in the course of Data pre-processing.</p>
                        <img src="https://raw.githubusercontent.com/SurabhiSood/titanic-survival-machine-learning/Preethi_branch/static/img/nullvalue_vis.png " class="metho-img mx-auto " style="width:100% " alt="Image ">
                    </div>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">
                        <h3>Survival of Passengers</h3>
                        <p>The calculation shows that only 38% of the passengers survived. Not the best odds. The reason for this massive loss of life is that the Titanic was only carrying 20 lifeboats, which was not nearly enough for the 1,317 passengers
                            and 885 crew members aboard.</p>
                        <img src="../static/images/survived-perished.PNG " height="300px " width="250px " class="metho-img mx-auto " alt="Image ">
                    </div>
                </div>

                <div class="row ">
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">
                        <h3>Age Demographics of Passengers </h3>
                        <p>The chart displays the number of passengers traveling aboard Titanic categorized based by age group. 40% of the passengers were in the age group of 20-30.</p>
                        <img src="../static/images/age-survival.PNG " class="img-responsive margin center " style="width:80% " alt="Image ">
                    </div>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">
                        <h3>Visualizing Survival by Age Group</h3>
                        <p>Here we can see that children were the most likely age group to survive, although this percentage was still tragically below 60%.</p>
                        <img src="https://raw.githubusercontent.com/SurabhiSood/titanic-survival-machine-learning/Preethi_branch/static/img/pclass_sex.png " class="img-responsive mx-auto " style="width:80%; " alt="Image ">
                    </div>

                </div>
                <div class="row ">
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">

                        <h3>Visualizing Gender Survival </h3>
                        <p>
                            While the Titanic was sinking, the officers famously prioritized who was allowed in a lifeboat with the strict maritime tradition of evacuating women and children first. Our statistical results clearly reflect the first part of this policy as, across
                            all classes, women were much more likely to survive than the men.
                        </p>
                        <img src="../static/images/gender-survival.PNG " class="img-responsive mx-auto " style="width: 60%; ">
                    </div>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">
                        <h3>Visualizing Passenger Class Survival </h3>
                        <p>Here, we see that Pclass is contributing to a person's chance of survival, especially if this person is in First Class. We will create another Pclass plot below.</p>
                        <img src="../static/images/PassengerClassAndSurvival.png " class="mx-auto " height="350px " width="490px " alt="Image ">
                    </div>
                </div>
                <div class='row'>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">
                        <h3>Feature Engineering Title </h3>
                        <p>We broke Passenger Name down into additional meaningful variables which can feed predictions. Passenger title is contained within the passenger name variable categorize passengers through the titles in the name and drew relation
                            with survival
                        </p>
                        <img src="../static/images/TitleSurvived.png " class="img-responsive mx-auto " style="width:100% " alt="Image ">
                    </div>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">
                        <h3>Feature Engineering Family Size </h3>
                        <p>SibSp and Parch would make more sense as a combined feature, that shows the total number of relatives, a person has on the Titanic. We created a 'relative' column and also added a feature that shows if someone is not alone.</p>
                        <img src="../static/images/FamilySizeAndSurvival.jpg " class="img-responsive mx-auto " style="width:100% " alt="Image ">
                    </div>
                </div>
                <div class='row'>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">

                        <h3>Imputing Missing Value in Fare Column </h3>
                        <p>The visualization shows that the fare would be somewhere greater than seven and less than 10, this adds another filter to calculate mean. post appling all three filters we get the mean of $ 8.03. Which will be replaced by nan value
                            in Mr.Storey's fare!</p>
                        <img src="../static/images/FarePlot.png " class="img-responsive mx-auto " style="width:90% " alt="Image ">
                    </div>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">

                        <h3>Imputing Missing Value in Embarkment Column </h3>
                        <p>The median fare for a first class passenger departing from Charbourg (‘C’) coincides nicely with the $80 paid by our embarkment-deficient passengers. I think we can safely replace the NA values with ‘C’.</p>
                        <img src="../static/images/MissingEmbarkment.png " class="img-responsive mx-auto " style="width:90% " alt="Image ">
                    </div>
                </div>
                <div class="row ">
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">

                        <h3>Extra Tree Classifier for Feature Selection </h3>
                        <p>It allows for identification of the most important or influencing factors on the response (or dependent) variable.</p>
                        <img src="../static/images/BestFeatures.png " class="img-responsive mx-auto " style="width:90% " alt="Image ">
                    </div>
                    <div class="6u$ 12u$(small) flex flex-3 metho-div ">
                        <h3>Visualizing Data Distribution </h3>
                        <p>The density plot shows how the data is distributed for each variable in the dataset. The data is not evenly distributed and hence we used Scalar method for scaling the dataset. </p>
                        <img src="https://raw.githubusercontent.com/SurabhiSood/titanic-survival-machine-learning/Preethi_branch/static/img/densityplot.png " class="img-responsive mx-auto " style="width:80% " alt="Image ">
                    </div>
                </div>

                <!-- Break -->
                <hr class="major " />

                <h2 id="content theproject"><a id="pmodel">Prediction Models</a></h2>
                <div class="row">
                    <div class="12u 12u$(small)  flex flex-3 metho-div">
                        <h3>Most Accurate Tested: KNN</h3>
                        <p>Out of 8 trained models, the K-Nearest Neighbor model demonstrated the highest accuracy score of 86.36%. The k number with the highest prediction accuracy has been located between 29 – 33 neighbors (see “Value of k for KNN Model” plot). Based on the grid search, KNN model parameter for the p value has been set to 1. The training data score for this model resulted in 80.21%. As demonstrated by the confusion matrix plot, the model produced 4.55% of Type I error and 9.09% of Type II error.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="6u 12u$(small)"><br><br>
                    <img  class="img-responsive float-left mx-auto" alt="Image" src="../static/images/best-k-number.png">
                    </div>
                    <div class="6u 12u$(small)">
                    <img class="img-responsive float-right mx-auto" alt="Image" src="../static/images/confusion-matrix.png">
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="6u 12u$(small)">
                        <h3>Logistic Regression</h3>
                        <p>After cleaning the data (replacing missing values with the mean or mode) , we created a new feature called ‘Title’ which was extracted from ‘Name’ column. We encoded columns like ‘Sex’ ,’Title’, ’Port of embarkment’ to be used
                            by the Machine Learning model. We then dropped unwanted columns from the dataframe that will not be used by the model. We selected seven columns/features: pclass (class of the passenger) ,survived, sex, age, sibsp(siblings-spouse
                            relationship) ,parch(Parent-Child relationship) ,title. We then split the dataset in to training and testing datasets and created a Logistic Regression model to be run on the dataset. The accuracy of the model was 84%.</p>
                    </div>
                    <div class="6u$ 12u$(small)">
                        <h3>RandomForestClassifier</h3>
                        <p>Started with visualizing the dataset for its variables, missing values and its datatypes. Leading to imputing the missing values and feature engineering new columns from the existing one as described in the charts above. Post dropping
                            those columns we do not need, converting the data into categorise to prepare them for analysing by using label encoder. After dividing the dataset into X and y 'ExtraTreesClassifier' was used to select best features leading
                            it to scale the X axis as y is already binary.We go onto split the train-test dataset and fit it to the model. The accuracy of the model was 79.26%.</p>
                    </div>
                </div>

                <!-- Break -->
                <hr class="major " />
                <h2 id="elements"><a id="ref">Reference & Resources</a></h2>

                <div class="row ">
                    <div class="3u 12u$(small) ">

                        <h4>Python</h4>

                        <ul>

                            <li><a href="https://pandas.pydata.org/docs/# ">pandas</a></li>
                            <li><a href="https://matplotlib.org/contents.html ">Matplotlib</a></li>
                            <li><a href="https://numpy.org ">NumPy</a></li>
                            <li><a href="https://flask.palletsprojects.com/en/1.1.x/ ">Flask</a></li>
                            <li><a href="https://joblib.readthedocs.io/en/latest/">Joblib</a></li>
                            <li><a href="https://docs.python.org/2/library/pickle.html">Pickle</a></li>
                            <li><a href="https://scikit-learn.org/stable/ ">SciKit-Learn</a></li>

                        </ul>
                    </div>
                    <div class="3u 12u$(small) ">
                        <h4>Web</h4>

                        <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>
                        </li>
                        <li>
                            <a href="https://templated.co/ ">TEMPLATED</a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/ ">Bootstrap</a>
                        </li>
                        </ul>

                        </ul>
                    </div>
                    <div class="3u$ 12u$(small) ">

                        <h4>Machine Learning</h4>
                        <ul>
                            <li><a href="https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html">KNN</a></li>
                            <li><a href="https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html">Logistic Regression</a></li>
                            <li><a href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html ">RandomForestClassifier</a></li>
                            <li>CART</li>
                            <li>K_means</li>
                            <li>Trees</li>

                        </ul>
                    </div>
                    <div class="3u 12u$(small) ">

                        <h4>Links</h4>
                        <ul>
                            <li>
                                <a href="https://github.com/SurabhiSood/titanic-survival-machine-learning ">GitHub Repository</a>
                            </li>
                                                        <li>
                                <a href="https://pg-titanic-survival-prediction.herokuapp.com/index.html">Heroku</a>
                            </li>

                            <li>
                                <a href="https://humansofdata.atlan.com/2016/07/machine-learning-python/">Titanic Dataset</a>
                            </li>
                            <li>
                                <a href="https://en.wikipedia.org/wiki/Titanic">Wikipedia: Titanic</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </section>


        </div>


        <!-- *********** SCRIPTS *********** -->
        <script src="../static/js/jquery.min.js "></script>
        <script src="../static/js/skel.min.js "></script>
        <script src="../static/js/util.js "></script>
        <script src="../static/js/main.js "></script>
        <script src="../static/js/button.js "></script>

</body>

</html>